<div class="title">
    <h1 class="">Welcome {{ user.discordName }}</h1>
</div>
<div class="module-spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm text-center moduleName">
            <a routerLink="/dashboard/appointments">
                <fa-icon class="moduleName fa-lg" [icon]="faCalendarAlt"></fa-icon>
                <p class="moduleName">Appointments</p>
            </a>
        </div>
        <div class="col-sm text-center moduleName">
            <a routerLink="/dashboard/playlist">
                <fa-icon class="moduleName fa-lg" [icon]="faVolumeUp"></fa-icon>
                <p class="moduleName">Playlists</p>
            </a>
        </div>
        <div class="col-sm text-center moduleName">
            <a routerLink="/dashboard/reminders">
                <fa-icon class="moduleName fa-lg" [icon]="faCalendarAlt"></fa-icon>
                <p class="moduleName">Reminders</p>
            </a>
        </div>
    </div>
    <div class="row-spacer"></div>
</div>
<div class="container next-container">
    <div class="row">
        <div class="offset-2 col-4" *ngIf="nextAppointment">
            <app-next-card [nextAppointment]="nextAppointment"></app-next-card>
        </div>
        <div class="col-4" *ngIf="nextReminder">
            <app-next-card [nextReminder]="nextReminder"></app-next-card>
        </div>
    </div>
</div>