h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
    overflow-x: hidden;
  }

.table {
  color: white;
  font-weight: normal;
  width: 80vw;
  margin-left:auto; 
  margin-right:auto;
}

.calendar {
  color: black;
  max-width: 80vw;
  margin: auto;
}

.card {
  color: black;
  max-width: 80vw;
  margin: auto;
}

.spacer {
  margin-top: 20px;
}